@import '../../../../assets/scss/color';
.car-login{
	margin-top: 60px;
   align-content: center;
}
.card{
	border: 0;

}
.card-header{
	background:$color-seis;
	border-bottom: 6px solid $color-dos;
	border-radius: 0;
	h5{
		color: #ffffff;
	}
}
.card-body{
	button{
		background: $color-cuatro;
		border: none;
		border-radius: 0;
	}
}